@model Personel.Models.Entity.tbl_personel
@using (Html.BeginForm("Index", "IzinGiris", FormMethod.Post))
{
    <h3>@Html.DisplayTextFor(p => p.personel_kodu) - @Html.DisplayFor(p => p.personel_adi) @Html.DisplayFor(p => p.personel_soyadi)</h3>
    <br />
    <br />
    <div class="form-inline" action="/IzinGiris/IzinEkle" method="post">
        <div>
            <label class="col-sm-3">İzin Türü</label>
            <input style="width:200px;" type="text" class="form-control" name="izin_turu" required="" maxlength="50" />
        </div>
        <br />
        <div>
            <label class="col-sm-3">İzin Başlama Tarihi</label>
            <input style="width:130px;" type="date" class="form-control" name="izin_baslama_tarihi" required="" maxlength="50" />
        </div>
        <br />
        <div>
            <label class="col-sm-3">İzin Bitiş Tarihi</label>
            <input style="width:130px;" type="date" class="form-control" name="izin_bitis_tarihi" required="" maxlength="50" />
        </div>
    </div>
}
    @*<div class="col-sm-2" style="margin-top:10px;">
            <button class="btn btn-success" style="width:100px;">Ekle</button>
        </div>*@


